<button _ngcontent-c24="" class="btn btn-primary button-flat-attn mat-button" type="submit" ng-reflect-permission="Settings.Edit" ng-reflect-ui-loading="false" ng-reflect-disable-if="false">
  <span class="mat-button-wrapper"> {{input.content}} </span>
  <div class="mat-button-ripple mat-ripple"></div>
  <div class="mat-button-focus-overlay"></div>
</button>
